/* Header.css 
.navbar-text {
    margin-right: 20px; /* Ajusta según sea necesario 
}

.form-inline .input-group {
    width: auto;
}

.input-group-append {
    margin-left: -1px;
} */

.btn {
    padding: .55rem 1.5rem .45rem;
  }

  .bg-custom {
    background-color: #b215c7 /* Cambia 'your-color' por el color que desees */
  }
